.gradient-background {
  background: linear-gradient(300deg,#134AED,#10D1EB);
  background-size: 120% 120%;
  animation: gradient-animation 8s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  #hero .title{
    padding-top: 100px;
    font-family: 'Nanum Gothic Coding', monospace;
  }

  .profile-pic {
    height: 70%;
    width: 70%;
    border-radius: 50%;
  }

  .profile-pic-flex {
    display: flex;
    justify-content: center;
  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.list-description {
  list-style-type: none;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}